<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=(LocalDB)\mssqllocaldb;AttachDbFilename=|DataDirectory|\RuleEvaluatorTest.mdf;Integrated Security=True"/>-->
    <add key="ConnectionString" value="Server=pbalas-old;Database=aflex_local;Trusted_Connection=True;TrustServerCertificate=True;"/>
    
    <!--<add key="ConnectionString" value="Host=localhost;Port=5432;Database=aflex_local;Username=postgres;Password=admin"/>
    <add key="ConnectionStringType" value="PostgreSQL"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
